body{
    margin: 0;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    flex-direction: column;
    background: url("https://media.istockphoto.com/id/2171334835/photo/above-agricultural-patchwork-fields.jpg?s=2048x2048&w=is&k=20&c=9rthU9IoCaHQcCNVkJw0M4vSOMgaDSl6EJskDsvoL_4=");
     overflow: hidden;
      
     
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 28px;
    text-align: center;
}

.clock{
    display: flex;
}

.clock div{
    margin: 10px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: lawngreen;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: chocolate;
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: darkblue;
}